<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:hardwareAccelerated="true">

        <service
            android:name=".notifications.LBSFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".examples.SplashActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:hardwareAccelerated="true">
        </activity>

        <activity
            android:name=".examples.HomeActivity"
            android:exported="false"
            android:label="Home" />

        <activity
            android:name=".examples.SettingsActivity"
            android:exported="false"
            android:label="Settings" />

    </application>

</manifest>